/* Core */
html {
    font-family: "futura-pt", sans-serif;
}

img {
    max-width: 100%;
    width: 100%;
}

h1, h2, h3, h4 {
    font-family: "bodoni-urw", sans-serif;
    color: #5a5a5a;
    font-weight: 100;
    margin: 0;
}

p {
    font-size: 14px;
    color: #5a5a5a;
    text-align: left;
}
.container:before,
.container:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
}
.container:after { clear: both; }
.container { zoom: 1; } /* IE < 8 */

/**
 *
 * Structure
 *
 */
nav {
    display: block;
    width: 114px;
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 14px;
    background: rgba(255,255,255,0.75);
    padding: 8px;
    height: 114px;
}
nav img {
    width: 20px;
    margin-right: 8px;
    position: relative;
    top: 46px;
}
nav p {
    padding-left: 30px;
    margin: 0;
}
.right {
    float: right;
}
#wrapper {
    width: 100%;
    overflow: hidden;
}
.headerBlock {
    background-size: cover;
    padding: 100px 200px;
}
.imageBlock {
    background-size: cover;
    padding: 160px 0;
    overflow: hidden;
}
.videoBlock {
    position: relative;
    padding-bottom: 56.25%; /* always show containing video embed at 16:9 */
    padding-top: 25px;
    height: 0;
}
.contentBlock {
    background-size: cover;
    margin: 80px 0;
}
.contentBlock.alternate {
    background-color: #e6e6e6;
    margin: 0;
}
/* Structure Elements */
.headerBlock h2 {
    font-size: 4em;
    width: 400px;
    margin: 30px auto;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    font-weight: 100;
    line-height: 1em;
    text-align: center;
}
.headerBlock p {
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    font-size: 0.7em;
    text-align: center;
    width: 300px;
    margin: 0 auto;
}
.imageBlock .callOut {
    background: rgba(255,255,255,0.75);
    width: 50%;
    overflow: hidden;
}
.imageBlock .callOut.right {
    left: 50%;
}
.imageBlock .callOut .callOutCopy {
    padding: 20px;
    width: 350px;
    float: right;
}
.imageBlock .callOut .callOutCopy.right {
    float: left;
}
.imageBlock .callOut h4 {
    color: #5a5a5a;
    font-size: 36px;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 36px;
}
.imageBlock .callOut h5 {
    color: #5a5a5a;
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 14px;
    margin: 0;
}
.imageBlock .callOut p {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 0;
    color: #5a5a5a;
}
.videoBlock iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contentBlock .calloutImage {
    margin-top: -120px;
}
.contentBlock .container > h2 {
    font-size: 60px;
    text-align: center;
    line-height: 60px;
}
.contentBlock .container > h3 {
    font-size: 30px;
    text-align: center;
    line-height: 15px;
    margin-bottom: 30px;
}
.imageWithCallout {
    position: relative;
    margin: 40px 0;
}
.imageWithCallout.right {
    text-align: right;
    float: none;
}
.imageWithCallout img {
    width: 640px;
}
.imageWithCallout span {
    position: absolute;
    top: 20px;
    background: #fff;
    width: 360px;
    padding: 40px;
    z-index: 100;
    right: 20px;
}
.imageWithCallout.right span {
    left: 20px;
    text-align: left;
}
.logo {
    display: block;
    width: 20%;
    margin: 0 auto;
    max-width: 20%;
}
span.blockquote {
    color: #5a5a5a;
    display: block;
    padding-left: 20px;
    border-left: 2px solid #5a5a5a;
    margin: 40px 0 0 40px;
}
i {
    display: block;
    position: absolute;
    right: 0;
}
div.caption {
    position: absolute;
    bottom: 0px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.75) none repeat scroll 0% 0%;
    width: 100%;
}



/* Form */
label {
    display: block;
    margin-bottom: 20px;
    color: #5a5a5a;
}
input {
    display: block;
    width: 100%;
    background: #dcdcdc;
    border: 0 none;
    padding: 6px;
    border-top: 6px solid #bebebe;
}
input[type="submit"] {
    color: #97ca53;
    text-transform: uppercase;
    font-size: 20px;
    background: #fff;
    border: 1px solid #97ca53;
}
input[type="radio"] {
    width: auto;
    display: inline-block;
    margin: 6px;
}

/* Media Queries */
@media (max-width: 767px) {
    nav {
        display: block;
        width: auto;
        position: absolute;
        background: rgba(255,255,255,0.75);
        padding: 10px;
        height: auto;
        top: 5px;
        left: 5px;
    }
    nav img {
        width: 12px;
        position: relative;
        top: 12px;
        float: left;
    }
    nav p {
        padding-left: 20px;
        margin: 0;
        font-size: 10px;
    }
    .headerBlock {
        padding: 100px 0;
    }
    .headerBlock h2 {
        width: auto;
        font-size: 3em;
    }
    .logo {
        width: 60%;
        max-width: 60%;
    }
    .contentBlock .container > h2 {
        font-size: 30px;
    }
    .contentBlock .container > h3 {
        font-size: 15px;
        line-height: 0;
    }
    .imageBlock .callOut {
        width: auto;
    }
    .imageBlock .callOut .callOutCopy {
        width: auto;
        float: none;
    }
    .imageBlock .callOut h4 {
        font-size: 26px;
        line-height: 26px;
    }
    .imageWithCallout span {
        position: relative;
        background: #fff;
        width: auto;
        padding: 0;
    }
    input {
        width: 96%;
    }
}
